<ion-header>
  <ion-toolbar>
    <ion-title>Pagar y Pedir</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content>
  
  <ion-list>
    <ion-item *ngFor="let item of carrito; let i =index ">
      <p class="input">
        {{item}} 
      </p>
        <ion-textarea class="input" id="comentario-{{i}}" rows="6" cols="50" maxlength="100" placeholder="Comentarios..."></ion-textarea>
    </ion-item>
    
  </ion-list>
  <ion-label>Precio total a pagar {{menu.cuentaTotal | number:'1.2-2'}}€</ion-label>
  <ion-button type="submit" color="primary" expand="block" (click) ="pay()" >Pedir y pagar</ion-button>

</ion-content>

